{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<br><br><br><br><br><br><br><br><br><br>
<div class='col-sm-6 col-sm-offset-3'>
<h1><div id="center"><font size="12">{{ title }}</font></div></h1>
<hr/>
<br><br><br><br><br>
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-default' value='{{ title }}' />
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock content %}