h1 {
    color: white;
    font-family: 'Josefin Slab', serif;
}

.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.img-circle {
    border-radius: 50%;
    box-shadow: 5px 5px 5px #888888;

}

.comment-reply{
    display:none;
}

.snt_background {
	background : "";
}
#center {
    text-align: center;
}
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}
/*.navbar {
	background: #417690 !important; 
}*/
